= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :deadline
    = f.date_select :deadline
  .field
    = f.label :assigned
    = f.collection_select :user_id, @users, :id, :show_name, prompt: true
  .field
    = f.label :responsible
    = f.collection_select :responsible_id, @users, :id, :show_name, prompt: true
  .actions
    = f.submit 'Save'
