= content_for :users do
  = render "shared/list_users"
%h1 Listing tasks

=link_to new_task_path, class: 'btn btn-primary' do
  %i.icon-plus-sign
  Add task

%table.table
  %tr
    %th Название
    %th Deadline
    %th Назначена
    %th Ответственный

  - @tasks.each do |task|
    %tr
      %td= link_to task.title, task
      %td= task.deadline
      %td
        = task.assigned_name
        = set_me_assigned_to_task(task)
      %td= task.responsible_name

%br

