%p
  %b Title:
  = @task.title
%p
  %b Description:
  = @task.description
%p
  %b Deadline:
  = @task.deadline
%p
  %b Assigned User:
  = @task.assigned_name
  = set_me_assigned_to_task(@task)
%p
  %b Responsible:
  = @task.responsible_name
%p
  %b Creator:
  = @task.creator_name

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
\|
= link_to 'Delete', task_path(@task), method: :delete, confirm: 'Вы уверены?'
