<!DOCTYPE html>
<html>
<head>
  <title>Yet another task manager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <%= link_to "Новости", root_path, class: "brand"%>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.email, '#' %></li>
          <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Войти", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= subscribe_to "/messages/user-#{current_user.id}" %>
  <div class="container-fluid">

    <div class="span9">
      <div id="alert"><%= render "shared/flash_msg" %></div>
      <%= yield %>
    </div>
    <div class="span3">
      <%= yield :users %>
    </div>
  </div>

</body>
</html>
